

<div class= "container show">


	<h2>Note Details:</h2>
	<span>Written <%= time_ago_in_words(@note.date) %> ago, on <%= @note.date %></span>

	<h2>"<%= @note.title %>"</h2> 

	 <p>
	 <%= hyperlink(@note.description) %>
	</p>

	<%= link_to "edit", edit_opportunity_note_path %>


</div>