

<div class= "container stretch">



		<h1>All actions for <%= link_to(@opp.name, @opp) %></h1>

		<% @actions.each do |action| %>
		<div>
		<h3><%= action.title %></h3>
		<%= link_to("Details", opportunity_action_path(@opp, action)) %>
		<%= link_to("Edit", edit_opportunity_action_path(@opp, action)) %>
		<%= link_to "Delete", opportunity_action_path(@opp, action), method: :delete, data: {confirm: "Yo, ya sure?"}  %>
		 <!-- Have to pass in to the parent object(@opp) as well as  the actual instance (action) that it's currently on via the loop -->
		 <hr/>

		</div>
		<% end %>

		<p>
		<%= link_to("Add A action", new_opportunity_action_path) %> </p>
 
</div>