
<div class= "container stretch">

<ul>
			

	<%@opps.each do |opp| %>
		

<!-- rows hold each opportunity, and allows zebra like tables -->

			<li class="row"> 
				
		<!-- lines hold each content row -->		
				<div class="line engage">
					<%= link_to new_opportunity_note_path(opp) do %>
	  					<div class="edit line"> <i class="icon-note icons"></i></div>
					<% end %>
					
					<div class= "engagement-level  <%= opp.engagement_level %>" ><i class="eicon fa fa-heart"></i></i></div>


				</div>


				

				
				<div class="phaseline line">

					 
					 <div class= "phase <%= opp.phase.downcase %>" > 
					 
					 <%= opp.phase %>
						
					 </div>

					<div class="service_type" > 
						<% if opp.web? %>
							<icon class="fa fa-desktop"></icon>
						<% end %>
						
						<% if opp.video? %>
							<icon class="fa fa-film"></icon>
						<% end %>
					</div>			
					
				</div>




				<div class="column">
					<div class="line image">

							<%= link_to opp do %>
								<%= image_tag(opp.image.url(:thumb), class: "profile_pic")%>
							<% end %>
							
							<!-- <img class= "profile_pic" src="../app/assets/images/profile_user.jpg"> -->   
					</div>

					<div class="line">
						<div class= "info item">
								<h2 class="company"><%= link_to(opp.name.titleize, opp) %><span class="edit"><%= link_to("edit", edit_opportunity_path(opp)) %></span></h2>
								
								<h3 class="name"><%= opp.prospect_name %></h3>
								<h4 class="owner">Owner</h4>
								<p class="phone"> 
									<%= opp.phone %> 

									<%= mail_to opp.email do %>
										<i class="fa fa-envelope"></i>
									<% end %>
								
								</p>
								<div class="notes">
								<a href="<%= opp.website %>"><i class="fa fa-rss-square"></i></a>
								<a href="<%= opp.twitter %>" target="_blank"><i class="fa fa-twitter-square"></i></a>
								<a href="<%= opp.fb %>" target="_blank"><i class="fa fa-facebook-square"></i></i></a>
								
								

								</div>
						</div>	
					</div>
				</div>
			
				<div class="line">	
				<!-- first ck to see if there are any actions (actions are not nil) -->
				<% if opp.actions.empty? %>
					<%= link_to(new_opportunity_action_path (opp)) do %>
						<p>Please add an action</p>
					<% end %>
				<% else %>
				<!-- then ck to see if there are any actions marked as next (actions.next are not nil) -->

				
					
					<% if opp.actions.next.empty? %>
					<% opp.actions.set_next_action(opp) %>
				 	<% end %>
				
								<!-- Now build out the style and display for the next action -->
								<% opp.actions.next.each do |nextup| %>
								<!-- convert date to date circle with only month abbr. & day -->
									<%= link_to(opportunity_actions_path (opp)) do	 %>
										<div>
											<div class="col center action-date">
											<span class="month"><%= nextup.due_date.strftime('%^b') %></span>
											<span class="day"><%= nextup.due_date.strftime('%d') %></span>
											</div>
										</div>
									<div class= "action">
										<p class= "next-action col">
											<span class="highlighter">Next Action:</span> 
												
														<%= nextup.name %>
										</p>
										<% end %>
										
								<% end %>

					
				<% end %>
						
			</li>

	<% end %>
</ul>

</div>




