
<div class= "container show">
		<div class="show line engage">
					
					<div class= "engagement-level  <%= @opp.engagement_level %>" ><i class="eicon fa fa-heart"></i></i></div>				
		</div>

			
		<div class="show line name">
		<h1><%= @opp.name.titleize %><span class="love-words"> - How can we help!</span></h1>
		</div>

		<div class="show line phase ">
					<div class= "phase <%= @opp.phase.downcase %>" > 
					 <%= @opp.phase %>	
					 </div>
		</div>

		<div class="show line avatar">
			<div class="img-holder-show">
				<%= image_tag(@opp.image, class:"profile-pic show", size: "300x300")%>
			</div>
		</div>

		DETAILS WILL GO ON THIS PAGE :)
		
		<div class="note-info">
			
			<h2>Latest Notes<h2>
			<% @notes.each do |note| %>
					
					<div class="note">
					<%= link_to opportunity_note_url(@opp,note) do %>
						<h3>"<%= note.title %>" - <span> <%= note.date %></span></h3>
					<% end %>

					</div>

					
			<% end %>

		</div>

		<div>                     
		                            
			<%= link_to('Edit', edit_opportunity_path) %>

			<%= link_to "Delete", opportunity_path(@opp), method: :delete, data: {confirm: "Hey ya sure you want to do this?!"} %>

			<%= link_to('View All', opportunities_path) %>
		</div>

</div>