<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Clienthub</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="storysitez client projects" />
        <meta content="" name="Enrika Greathouse" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class="login">
    
          
               
                
                  <%= render 'layouts/flashes' %>
   
<!-- main container with all dynamic content -->
                <%= yield %>
            
    
    

</body>
</html>
